body{
  background-image: -webkit-gradient(#DDDDDD, #1A8FCF,#1A8FCF,#03ABDE,#03ABDE);
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(#DDDDDD, #1A8FCF,#1A8FCF,#03ABDE,#03ABDE);
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(#DDDDDD, #1A8FCF,#1A8FCF,#03ABDE,#03ABDE);
  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(#DDDDDD, #1A8FCF,#1A8FCF,#03ABDE,#03ABDE);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(#DDDDDD, #1A8FCF,#1A8FCF,#03ABDE,#03ABDE);
}
