/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar .navbar-inverse{ height: 5vh;}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 90vh;}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1ff;
  height: 100%;
  font-size: 0.8vw;
}

body{overflow: hidden;}

input{
  position:fixed;
  display: none;
  z-index: -2;
}

/* Set black background color, white text and some padding */
footer {
  height:5vh;
  background-color: #555;
  color: white;
  padding: .5vh;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {

  .sidenav {
    height: 5vh;
    padding: 15px;
    font-size: 2vw;
  }
  .row.content {height:60vh;}

  footer{height:3vh;}
}
#c {
  position:absolute;
  left: 0px; top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: -webkit-gradient(#1A8FCF,#1A8FCF,#03ABDE,#03ABDE,#DDDDDD,#AAAAAA);
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(#1A8FCF,#1A8FCF,#03ABDE,#03ABDE,#DDDDDD,#AAAAAA);
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(#1A8FCF,#1A8FCF,#03ABDE,#03ABDE,#DDDDDD,#AAAAAA);
  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(#1A8FCF,#1A8FCF,#03ABDE,#03ABDE,#DDDDDD,#AAAAAA);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(#1A8FCF,#1A8FCF,#03ABDE,#03ABDE,#DDDDDD,#AAAAAA);
}
#renderer{
  height:100%;
  padding:0px;
  margin:0px;
}
#viewport2 {height:100%;}
#viewport {
  opacity:0.5;
  height:100%;
}

#meshTree {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
}

#contextMenu{
  position: absolute;
  display:none;
}
:focus { outline: none; }
